---
layout: default
---
  <div style="float:center; width: 100%; height:fit-content;">
    <div style="float: left; width: 384px">
      <p style="align-content: center; margin: 15px">
        <img style="border-radius: 5px;" src="headshot_not_even_a_little_smile.jpg" alt="Emma Tosch" title="Thanks to the incomparable Amee Trivedi for the earrings. xoxo." width="100%">
      </p>
    </div>
    <div style="height: 290px; min-width:300px; overflow:hidden;">
      <p style="text-align: left; margin:10px;">
        <br/>
        Emma Tosch (&#603;m&#601; t&#593;&#643; <a href="https://namedrop.io/emmatosch" target="_blank">&#128264;</a>)
        She/her<br/>
        Assistant Professor<br>
        University of Vermont<br>
        Office: E456 Innovation Hall<br>
        E-mail: first dot last at uvm dot edu<br>
        [ <a href="cv.pdf">CV</a> ]  
      </p>  
    </div>
  </div>
<br/>
  <div style="max-width: 896px; background-color:darkslategray; color: white; padding: 10px 10px 10px 10px; border-radius: 5px; overflow:auto; margin: 15px;">
    <p>
    I am currently looking for PhD students! Feel free to reach out for a chat if you think we might work well together. 
    If you'd like to learn more about what I do, and my advising style, consider checking out:
    <ul>
      <li><a href="http://research.emmatosch.com" style="color:pink"> My research blog</a> </li>
      <li><a href="http://advice.emmatosch.com" style="color:pink">My advice blog</a></li>
    </ul> 
  </p>
  </div>

  <div class="section">
    <h2>Research Interests</h2>
    <p>
      The research questions that motivate me relate to supporting sound experimental methodologies within complex software 
      systems. I use methods from domain-specific programming language design to build languages and tools for data scientists,
      social scientists, and machine learning researchers.
      Representative publications include:
      <ul>
        <li><a href="https://dl.acm.org/doi/pdf/10.1145/3360608">PlanAlyzer: Assessing Threats to the Validity of Online Experiments</a></li>
        <li><a href="https://dl.acm.org/doi/abs/10.1145/2714064.2660206">SurveyMan: Programming and Automatically Debugging Surveys</a></li>
        <li><a href="https://arxiv.org/pdf/1812.02850">Toybox: Better Atari Environments for Testing Reinforcement Learning Agents</a></li>
      </ul>
    </p>
    <p><i>Keywords: domain-specific languages, static analysis, software testing, data science, computational social science, 
      experimentation, reinforcement learning</i></p>
  </div>

  <!-- <div class="section">
    <h2>Current Advisees</h2>
    <ul>
      {% for student in site.students %}
        <li><a href="{{ student.website }}">{{ student.name }}</a>{{ student.content }}{% if student.coadvisor %}<i>Coadvised with {{ student.coadvisor }}</i>{% endif %}</li>
      {% endfor %}
    </ul>
  </div> -->

  <div class="section">
    <h2>Teaching</h2>
    <ul> UVM CS 253: Reinforcement Learning, Spring 2021</ul>
    <ul> UMass CS 240: Reasoning Under Uncertainty, Spring 2018</ul>
  </div>

  <div class="section"> 
    <h2>Meeting Availability</h2>
    <p><b>For UVM students:</b> I keep my work (Teams) calendar up to date. If you'd like to 
      meet with me, please use the scheduling assistant in Teams to pick a time during normal work 
      hours (M-F 9-5) when we are both free and send a calendar/Teams invite with a short description
    of the nature of the meeting.</p>
    <p><b>For anyone else:</b> Please send me a calendar invite for a time that works for you.
      I try to keep my Google calendar (below) mirrored, but it may not be up to date.
  <iframe src="https://calendar.google.com/calendar/embed?src=etosch%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
    
  </div>

  <div class="section">
    <h2>Fun Facts About Me</h2>
    I was once described as "<a href="{{ site.baseurl }}/compare.html" target="_blank">a young Bernie Sanders</a>."
  </div> 
