body { 
    background-color: rgb(144, 57, 26); 
    font-family: Optima, Palatino, Arial, sans-serif, Helvetica;
    padding:0ex 0ex 0ex 0ex ;
    margin: 0ex 0ex 0ex 0ex ;
    resize:both;
    width:100%;
    color: whitesmoke; 
    font-size: 14pt;
}

a {
    color: lightgray;
}

.blm {
    background-color:black; 
    padding-top: 5px; 
    padding-bottom: 5px;
    font-size: 16pt;
    color: white;
    text-align: center;
}

a.blm {
    color: white;
}

a.blm:visited {
    color: white;
}

h2 {
    color: lightseagreen
}

div.section {
    margin: 15px;
    max-width: 896px;
}

.plaid {
    background-color: rgb(0, 56, 37);
    color: rgb(119, 156, 72);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16pt;
    text-align: center;
}